  .calculator .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 16vh;
    font-family: monospace;
    height: 100%;
  }

  .calculator .container {
    width: 100%;
    margin: auto;
  }

  .calculator .outerDiv {
    padding-right: 10px;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align:right;
    white-space: nowrap;
    overflow: hidden;
    border-left:10px solid transparent;
    background-color: #FE4A49;
  }

  .calculator .innerDiv {
    float:right;
  }

  .calculator .displayText {
    font-size: 10vh;
    color: #F4F4F8;
    }

  .calculator .cancel {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calculator .del {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .calculator .divide {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .calculator .multiply {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .calculator .minus {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .calculator .plus {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .calculator .seven {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .calculator .eight {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .calculator .nine {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .calculator .four {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .calculator .five {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .calculator .six {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .calculator .one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .calculator .two {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .calculator .three {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .calculator .decimal {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .calculator .zero {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .calculator .equal {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .calculator .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: thin black solid;
    font-size: 6vh;
  }

  .calculator .special {
    background-color: #FED766;
  }

  .calculator .operation {
    background-color: #E6E6EA;
  }

  .calculator .number {
    background-color: #009FB7;
  }

  .calculator .module-button {
    background-color: inherit;
    font: inherit;
    border: none;
    width: 100%;
    height: 100%;
  }

  .calculator .module-button:focus {outline:0;}

  .calculator .module-button:hover {
    filter:brightness(1.calculator .5);
  }

  .calculator .module-button:active {
    filter:brightness(1);
  }

  /* Extra small devices (phones, 576px and down) */
  @media only screen and (max-width: 576px) {
  }

  /* Small devices (landscape phones) */
  @media only screen and (min-width: 576px) {
    .calculator .displayText {
      font-size: 12vh;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .calculator .container {
      max-width: 768px;
    }
  }
